.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-content {
    width: 80%;
    height: 200px;
    float: left;
}

.blog-img {
    width: 20%;
    height: 200px;
    float: left;
}

.blog-profile{
    width: 50px;
    border-radius: 50px;
    float: left;
    margin: 8px ;
}

.blog-name {
    float: left;
}

.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    border-radius: 5px; 
    background-color: #eee;
    padding: 10px;
}
.navbar a {
    font-size: 16px;
    text-decoration: none;
}